.subject-list {
  font-size: 10pt;
  list-style-type: none;
  margin: 25px auto 0;
  padding-left: 0;
  text-align: center;
  width: 90%;

  @include tablet {
    width: 80%;
  }

  li {
    display: block;
		width: 50%;
		margin: 0 auto;

		@include tablet {
			width: auto;
			display: inline;
			& + li { margin-left: 5px; }
		}

		@include desktop {
			display: inline;
			& + li { margin-left: 15px; }
		}

    & + li { margin-top: 6px; }
  }

  &__option {
    color: #6a6c6b;
    cursor: pointer;
   }
}
