@import 'variables';
@import 'media-queries';

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Francois One', Helvetica, sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
  transition: color .15s;

  &:hover { color: darken($link-color, 20%); }
}

header {
  background-color: $black;
  color: white;
  padding: 15px 25px;
  text-align: left;
  width: 100%;

  h1 {
    font-size: 18pt;
    margin: 0;
  }
}

.app__container {
  position: relative;
  display: grid;
  grid-template-columns: 67% 1fr;
  width: 100%;

  @include tablet {
    // grid-template-columns: 75% 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 350px;
  }

 }

.main {
  position: relative;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding: 25px;
  width: 100%;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@import 'loadingEntry';
@import 'library';
@import 'libraryBook';
@import 'item';
@import 'statusBar';
@import 'subjectList';
