.library-book {
  background-color: #fafafa;
  border-bottom: 1px solid #999;
  padding: 10px;

}

.img-wrapper {
  float: left;
  width: 25%;
  height: 75px;
  margin-right: 5px;
}

.library-book img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
