.item {
  display: inline-block;
  margin-bottom: 25px;
}

.item + .item {
  margin-left: 3%;
}

.item__img-wrapper {
  text-align: center;
}

.item__img {
  height: 200px;
  margin: 0 auto;
}

.item__meta,
.item__add__btn {
  font-size: 10pt;
  text-align: left;
}

.item__add__btn {
  cursor: pointer;
  margin-top: 10px;
}
