* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Francois One', Helvetica, sans-serif; }

a {
  color: #6a6c6b;
  text-decoration: none;
  border-bottom: 1px solid #6a6c6b;
  transition: color .15s; }
  a:hover {
    color: #373938; }

header {
  background-color: #4a4a4a;
  color: white;
  padding: 15px 25px;
  text-align: left;
  width: 100%; }
  header h1 {
    font-size: 18pt;
    margin: 0; }

.app__container {
  position: relative;
  display: grid;
  grid-template-columns: 67% 1fr;
  height: 100vh;
  width: 100%; }
  @media (min-width: 1024px) {
    .app__container {
      grid-template-columns: 1fr 350px; } }

.main {
  position: relative;
  padding: 40px; }

.items-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding: 25px 0;
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .items-container {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1024px) {
    .items-container {
      grid-template-columns: 1fr 1fr 1fr; } }

.loading-entry {
  margin-bottom: 25px; }
  .loading-entry > * {
    height: 25px;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(right, #f6f7f8, #d9dee2);
    background: -o-linear-gradient(right, #f6f7f8, #d9dee2);
    background: linear-gradient(to left, #f6f7f8, #d9dee2);
    background-size: 200% 200%;
    -webkit-animation: LoadingShimmer 2s ease infinite;
    -moz-animation: LoadingShimmer 2s ease infinite;
    animation: LoadingShimmer 2s ease infinite; }
  .loading-entry__img {
    height: 167px;
    width: 100%; }

@-webkit-keyframes LoadingShimmer {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes LoadingShimmer {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes LoadingShimmer {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.app__library {
  background-color: #eaeaea;
  border-left: 1px solid #6a6c6b;
  height: 100%;
  width: 100%; }
  .app__library__error {
    padding: 35px;
    text-align: center; }

.library-book {
  background-color: #fafafa;
  border-bottom: 1px solid #b7b7b7;
  padding: 0 10px 20px;
  position: relative; }
  .library-book .img-wrapper {
    border-radius: 50px;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    margin: 15px 7px 0 0;
    vertical-align: top;
    width: 50px; }
  .library-book img {
    height: auto;
    margin: 0 auto;
    width: 100%; }
  .library-book__meta {
    display: inline-block;
    font-size: 10pt;
    padding-top: 13px; }
    .library-book__meta h4 {
      font-size: 12pt;
      letter-spacing: .5px;
      margin-bottom: 0; }
    .library-book__meta p {
      margin: 5px 0 7px; }
  .library-book .close {
    color: #6a6c6b;
    cursor: pointer;
    font-weight: 600;
    opacity: .45;
    position: absolute;
    right: 10px;
    top: 5px; }
    .library-book .close:hover {
      color: #373938; }

.item {
  border: 1px solid #eaeaea;
  border-radius: 2px;
  display: inline-block;
  font-size: 10pt;
  margin-bottom: 25px; }
  .item__img-wrapper {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    background-color: #fafafa; }
  .item__img {
    height: 245px;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .item__img {
        max-height: 145px; } }
    @media (min-width: 1024px) {
      .item__img {
        height: 200px; } }
  .item__body {
    padding: 0 10px 14px 10px;
    position: relative; }
    .item__body__footer {
      margin-top: 22px; }
      .item__body__footer > * {
        display: inline-block; }
      .item__body__footer h5 {
        margin: 0; }
      .item__body__footer .item__add-btn {
        cursor: pointer;
        color: #6a6c6b;
        right: 0;
        float: right; }
        .item__body__footer .item__add-btn:hover {
          color: #373938; }

i {
  color: gold;
  font-size: 14pt !important; }

.alert {
  border-radius: 5px;
  height: 35px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 5px;
  width: 80%; }
  .alert--error {
    background-color: red;
    border: 1px solid black;
    color: black; }
  .alert span {
    line-height: 15pt; }
  .alert .clear {
    float: right; }

.subject-list {
  font-size: 10pt;
  list-style-type: none;
  margin: 25px auto 0;
  padding-left: 0;
  text-align: center;
  width: 90%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .subject-list {
      width: 80%; } }
  .subject-list li {
    display: block;
    width: 50%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .subject-list li {
        width: auto;
        display: inline; }
        .subject-list li + li {
          margin-left: 5px; } }
    @media (min-width: 1024px) {
      .subject-list li {
        display: inline; }
        .subject-list li + li {
          margin-left: 15px; } }
    .subject-list li + li {
      margin-top: 6px; }
  .subject-list__option {
    color: #6a6c6b;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */